@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
 

  --breakpoint-xll: 1440px;
  --breakpoint-ll: 800px;
  --breakpoint-3xl: 1920px;

  --font-raleway: "Raleway", sans-serif;
  --font-outfit:  "Outfit", sans-serif;

  --color-orange-65: #FF8D4C;
  --color-orange-70: #FF9E66;
  --color-orange-75: #FFAE80;
  --color-orange-80: #FFBE99;
  --color-orange-90: #FFDECC;
  --color-orange-95: #FFEFE5;
  --color-orange-97: #FFF5F0;
  --color-orange-99: #FFFCFA;

  --color-gray-10: #191919;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-30: #4C4C4D;
  --color-gray-35: #59595A;
  --color-gray-40: #656567;
  --color-gray-60: #98989A;
  --color-gray-70: #B3B3B3;

  --text-67: 67px;
  --text-51: 51px;
  --text-58: 58px;
  --text-38: 38px;
  --text-28: 28px;
  --text-22: 22px;
  --text-26: 26px;
  --text-12: 12px;
  --text-78: 78px;
  --text-40: 40px;
  --text-42: 42px;
  --text-60: 60px;
  --text-54: 54px;
  --text-34: 34px;
  --text-44: 44px;

  --radius-20: 20px;
  --radius-10: 10px;
  --radius-14: 14px;
  --radius-16: 16px;

  --spacing-0_5: 2px;
  --spacing-1_4: 5px;
  --spacing-1_5: 6px;
  --spacing-1_9: 9px;
  --spacing-2_5: 10px;
  --spacing-3_5: 14px;
  --spacing-3_6: 15px;
  --spacing-4_5: 16px;
  --spacing-4_8: 18px;
  --spacing-5_3: 23px;
  --spacing-6_5: 25px;
  --spacing-6_6: 26px;
  --spacing-6_7: 28px;
  --spacing-7_5: 30px;
  --spacing-8_5: 34px;
  --spacing-10_5: 42px;
  --spacing-10_6: 44px;
  --spacing-40_2: 162px;
  --spacing-12_5: 50px;
  --spacing-12_6: 54px;
  --spacing-14_5: 60px;
  --spacing-14_7: 62px;
  --spacing-16_5: 70px;
  --spacing-16_6: 72px;
  --spacing-24_5: 100px;
  --spacing-24_6: 115px;
  --spacing-24_7: 120px;
  --spacing-33: 132px;
  --spacing-33: 132px;
  --spacing-36_5: 150px;
  --spacing-36_6: 162px;
  --spacing-20_2: 82px;

  --tracking-3: -3%;

  --leading-110: 110%;
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;
  --leading-auto: auto;

  --container-wrapper: 1920px;

  --shadow-ss2: 0px 0px 0px 4px #191919;
  --shadow-ss1: 0px 0px 0px 6px #191919;
  --ease-bounce: cubic-bezier(0.04, 1.25, 1, 1);
}
body {
  background-color: var(--color-orange-97);
}

.gotop {
  animation: gotop 1.2s linear infinite alternate-reverse;
}
@keyframes gotop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(10px);
  }
}
.pera {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-outfit);
} 
nav ul li a.active {
  background-color: var(--color-orange-95);
}
.l-150 {
  line-height: 150%;
}
.l-130 {
  line-height: 130%;
}

.shadow-orange {
  box-shadow: 4px 4px 0px 1px #FFBE99;
}
.shadow-black {
  box-shadow: 4px 4px 0px 1px #1E1E1E;
}
.shadow-black-mini {
  box-shadow: 2px 2px 0px 1px #1E1E1E;
}
.shadow-black-big {
  box-shadow: 6px 6px 0px 1px #1E1E1E;
}
.section {
  padding-inline: 16px;
  margin-bottom: 80px;
}
@media screen and (min-width: 800px) {
  .section {
    padding-inline: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .pera {
    font-size: 16px;
  }
  .l-150 {
    line-height: 150%;
  }
  .l-130 {
    line-height: 130%;
  }
  .section {
    padding-inline: 80px;
    margin-bottom: 150px;
  }
  
}
@media screen and (min-width: 1920px) {
  .pera {
    font-size: 18px;
  }
  .l-150 {
    line-height: 150%;
  }
  .l-130 {
    line-height: 130%;
  }
  .section {
    padding-inline: 162px;
    margin-bottom: 200px
  }
  
}
